.lostFigures__title {
    margin-bottom: 20px;
    font-weight: 700;
}

.lostFigures__lists {
    display: flex;
    justify-content: space-between;

    padding: 0 20px;
}

.figureList__title {
    margin-bottom: 15px;

    font-weight: 600;
    text-transform: uppercase;
}

.figureList__figureItem {
    display: flex;
    justify-content: start;

    margin-bottom: 5px;
}
