@import '../../styles/variables';

.cell {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 64px;
    height: 64px;
}

.cell img {
    position: relative;

    width: 48px;
    height: 48px;
}

.white_cell {
    background-color: $white-cell-background;
}

.black_cell {
    background-color: $black-cell-background;
}
