.lostFigures__title {
    margin-bottom: 20px;
}

.lostFigures__lists {
    display: flex;
    justify-content: space-between;

    padding: 0 20px;

    font-weight: 700;
    text-transform: uppercase;
}