.board_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.current_player {
    font-size: 25px;
    color: #fff;
}

.board {
    display: flex;
    flex-wrap: wrap;

    width: calc(64px * 8);
    height: calc(64px * 8);

    margin: 20px 200px 0;
}